<div class="index-card">
  <% if (post.photos[0]) { %>
    <div class="thumbnail">
      <%= post.photos[0] %>
      <img src="<%= post.photos[0] %>" alt="" />
    </div>
  <% } %>
  <div class="info">
    <a id="title" href="<%- url_for(post.path) %>"><%= post.title %></a>
    <p id="date"><%- date(post.date, 'YYYY-MM-DD') %></p>
    <div id="excerpt"><%- partial('excerpt', { post: post }) %></div>
  </div>
</div>